.Footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #005f56;
    bottom: 0;
    z-index: 100;
  }

  .Contact {
      display: flex;
      flex-direction: row;
  }
